/*********************************** RESET ***********************************/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

/********************************* UNIVERSAL *********************************/
#app {
    margin: 200px auto;
}

header {
    position: sticky;
    top: 0;
    padding: 10px;

    .container {
        display: flex;
        flex-direction: row;
    }
}

#content {
    display: flex;
    flex-wrap: wrap;

    #toc {
        flex: 0.5 0 auto;
        padding: 10px;

        .toc-link {
            padding-left: 20px;
            margin-top: 3px;
            margin-bottom: 3px;
            border-radius: 5px;
            transition: background-color 0.3s ease;

        }

        .toc-link:hover {
            cursor: pointer;
            background-color: rgba(255, 255, 255, 0.3);
        }
    }

    #gallery {
        flex: 1 0 auto;
        min-width: 300px;

        h1 {
            text-align: center;
        }

        table {
            width: 100%;
        }
    }
}

.card {
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    img {
        object-fit: contain;
        width: 200px;
        height: 200px;
        margin: 10px auto;
    }
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.card-category {
    border-bottom: solid black 1px;
    margin-bottom: 10px;
    font-size: 24pt;
    flex-basis: 100%;

    img {
        display: inline-block;
    }
}

/* title widget */
.wd-title {
    /* flex row */
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;

    /* revert href */
    color: inherit;
    text-decoration: inherit;

    img {
        display: inline-block;
    }

    p {
        display: none;
        margin: auto;
    }
}

@media (min-width:576px) {
    .wd-title p {
        display: initial;
    }
}

#inpUsername {
    width: 180px;
}

#fSearch {
    width: 100%;
    margin: 20px;
}


/******************************** CONTAINERS *********************************/
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width:576px) {
    .container {
        max-width: 510px;
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width:768px) {
    .container {
        max-width: 700px
    }
}

@media (min-width:1024px) {
    .container {
        max-width: 950px
    }
}

@media (min-width:1280px) {
    .container {
        max-width: 1200px
    }
}

.flex-spacer {
    flex: 1;
}

.flex-centered-row {
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.f-wrap {
    flex-wrap: wrap;
    gap: 10px;
}

.form {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

@media (min-width:1024px) {
    .form {
        flex-direction: row;
    }
}

.flex-justify {
    * {
        flex: 1 0 auto;
        text-align: center;
        margin: 3px;
    }
}

/*********************************** MODAL ***********************************/
#modal {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    left: 0;
    top: 0;

    backdrop-filter: blur(10px) brightness(70%);

    display: flex;
    justify-content: center;
    align-items: center;
}

#modal:not(.show) {
    display: none;
}

.modal {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  border-radius: 5px;
}

/*****************************************************************************/
/********************************** DESIGN ***********************************/
/*****************************************************************************/

.v-card {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 30px;
}

/*********************************** FONTS ***********************************/
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/******************************** BACKGROUND *********************************/
@keyframes bg-gradient-kf {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.bg-gradient {
    background: linear-gradient(270deg, #e2b567, #c7f2a8, #16f2e7);
    background-size: 180% 180%;
    animation: bg-gradient-kf 15s ease infinite;
}

.bg-sliding-container {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -10;
    left: 0;
    top: 0;
}

@keyframes bg-sliding-kf {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-800px, -608px, 0);
    }
}

.bg-sliding {
    background: url("/bg.png") repeat;
    height: 200%;
    width: 200%;
    animation: bg-sliding-kf 60s linear infinite;
}

/*********************************** HEADER **********************************/
header {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}


/*********************************** LOGIN ***********************************/


/*********************************** DEBUG ***********************************/

#admin {
    background-color: rgba(255, 0, 0, 0.5);
}
